<%= form_tag sessions_trainer_path, html: {class: "form"} do %> 

<div class="login-form">

    <h1> Welcome back </h1> 

      <p class="login-text">
        <span class="fa-stack">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fas fa-unlock-alt fa-stack-1x"></i>
        </span>
      </p>

    <div class="label"> 
      <%= text_field_tag :email, nil, placeholder: 'Email address'%> 
    </div> 

    <div class="label"> 
      <%= password_field_tag :password , nil, placeholder: 'Password'%>
    </div>
    
    <%= submit_tag "Sign in", class: "signinbtn" %>

</div>
<% end %>  
