<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to fsd.com, <%= @enquiry.client.first_name %></h1>
      
      <p>This is your final quotation.</p>
      <p><%= @listing.name %>

      <%= link_to "Please click", client_enquiry_listing_url(@client.id, @enquiry.id, @listing.id) %>
   </body>
</html>