<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to fsd.com, <%= @client.first_name %></h1>
      
      <p>This is your final quotation.</p>
      <p>Very Much Thanks</p>
      <p>MOney PLease!</p>
      <%= link_to "Please click", listings_url %>
      
   </body>
</html>