<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to chakdey.com, <%= @client.first_name %></h1>
      
      <p>Thanks for submitting your enquiry!</p>
      
      
   </body>
</html>