<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to ProgDev, <%= @enquiry.client.first_name %></h1>
      
      <p>This is your final quotation.</p>
      <p><%= @listing.name %>

      <p>Please click <%= link_to "here", history_url %> to make your payment</p>
   </body>
</html>