<!DOCTYPE html>
<html>
  <head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  </head>
  <body>

  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src= "/assets/Image1.jpg" style="width:100%">
      <div class="text">Caption One</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src= "/assets/Image4.jpg" style="width:100%">
      <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src= "/assets/Image6.jpg" style="width:100%">
      <div class="text">Caption Three</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- The dots/circles -->
    <div class="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
  </div>
  <!-- End of slideshow container -->

  <!-- Programs container -->
  <div class= "programs-container"> 
    
    <div class="main-title">
      <h1> Our Programs </h1>
      <p>Programs curated for your company's needs</p>
    </div>

    <div class="workshop-container">

      <div class="workshops"> 
        <span class="icon">
        <i class="fas fa-users" style="font-size:40px;"></i>
        </span>
        <h5>LEADERSHIP</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p><a href="#"><button> Learn more </button></a></p>
      </div>
        
      <div class="workshops"> 
        <span class="icon">
        <i class="fas fa-comment-dots"style="font-size:40px;"></i>
        </span>
        <h5>BUSINESS COMMUNICATIONS</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p><a href="#"><button> Learn more </button></a></p>
      </div>

      <div class="workshops"> 
        <span class="icon">
        <i class="fas fa-keyboard" style="font-size:40px;"></i>
        </span>
        <h5>CODING 101</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p><a href="#"><button> Learn more </button></a></p>
      </div>

      <div class="workshops"> 
        <span class="icon">
        <i class="fas fa-chalkboard-teacher" style="font-size:40px;"></i>
        </span>
        <h5>PRESENTATION 101</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p><a href="#"><button> Learn more </button></a></p>
      </div>

    </div>
  
  </div>
  <!-- End of programs container -->

  <!-- Testimonials container -->
  <div class="testimonials-container">

    <div class="main-title-testimonial">
      <h1> Happy clients and trainers </h1>
      <p>Hear what our clients and trainers have to say about our services </p>
    </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
              <p class="author"><img src="/assets/Testimonial_7.jpg"> <cite> <strong> &mdash; Teok Ang (Rumba Investment) </strong></cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
              <p class="author"><img src="/assets/Testimonial_6.jpg"> <cite> <strong> &mdash; Florence (Energy Corp) 
              </strong></cite></p>
            </blockquote>
          </div>


          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
              <p class="author"><img src="/assets/Testimonial_5.jpg"> <cite> <strong> &mdash; Jeanette (Maroon Health) 
              </strong></cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
               <p class="author"><img src="/assets/Testimonial_9.jpg"> <cite> <strong> &mdash; Mark (Trainer)</strong></cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
               <p class="author"><img src="/assets/Testimonial_10.jpg"> <cite> <strong> &mdash; Viknesh (Trainer) </strong></cite></p>
            </blockquote>
          </div>
  </div>
  <!-- End of testimonials container -->

  </body>
</html>
