<!DOCTYPE html>
<html>
  <body>

  <!-- Slideshow container -->
  <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">We are a <strong>one-stop solution</strong> that enable users to seamlessly develop programmes </h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row" style="align-items:baseline">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <%=form_tag search_static_listings_path, method: :get, class:"form-control form-control-lg" do%>
                  <div class="form-group"> <%= text_field_tag :search, nil, class:"form-control", placeholder: "Search" %> </div> </div>
                  <div class="col-12 col-md-3">
                  <%=submit_tag "Search", :name => nil, class:"btn btn-block btn-lg btn-dark" %>
                  </div>
                  <%end%>             
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>


  <!-- End of slideshow container -->

  <!-- Programs container -->

    <div class="main-title">
        <h1> TOP RATED PROGRAMS </h1> </b> 
    </div>

  <div class= "programs-container"> 

      <div class="workshops"> 
        <span class="icon">
        <i class="fas fa-users" style="font-size:40px;"></i>
        </span>
        <h5>CONVERSATIONAL INTELLIGENCE </h5> </b>
        <p>This program has been revolutionizing the coaching industry over the past 3 years. Leverage the power of neuroscience to establish an environment of trust and connection within your workforce. </p>
        <p><a href="#"><button> Learn more </button></a></p>
      </div>
        
      <div class="workshops"> 
        <span class="icon">
        <i class="fas fa-comment-dots"style="font-size:40px;"></i>
        </span>
        <h5>LEADERSHIP FOR C-SUITES </h5>
        <p>C-suite executives need new frameworks and competencies to chart a path through  change and to lead in a purposeful and collaborative way that brings the whole organisation with them. This is a course designed for senior executives.</p>
        <p><a href="#"><button> Learn more </button></a></p>
      </div>

      <div class="workshops"> 
        <span class="icon">
        <i class="fas fa-keyboard" style="font-size:40px;"></i>
        </span>
        <h5>UNCONSCIOUS BIAS</h5> </b>
        <p>In this course, you'll deepen your understanding of unconscious biases, how they influence behavior, and how they impact us all. You'll also learn numerous actions you can take to help counter bias in your own work environment.</p>
        <p><a href="#"><button> Learn more </button></a></p>
      </div>

      <div class="workshops"> 
        <span class="icon">
        <i class="fas fa-chalkboard-teacher" style="font-size:40px;"></i>
        </span>
        <h5>ORGANIZATIONAL CULTURE </h5> 
        <p>In this course, you'll explore the different types of cultures prevalent today. For established, merged or stagnant companies, we introduce tools and practices required to successfully make a change in your existing culture.</p>
        <p><a href="#"><button> Learn more </button></a></p>
      </div>

  </div>
  <!-- End of programs container -->

  <!-- Testimonials container -->
  <div class="testimonials-container">

    <div class="main-title-testimonial">
      <h1> Happy clients and trainers </h1>
      <p>Hear what our clients and trainers have to say about our services </p>
    </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
              <p class="author"><img src="/assets/Testimonial_7.jpg"> <cite> <strong> &mdash; Teok Ang (Rumba Investment) </strong></cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
              <p class="author"><img src="/assets/Testimonial_6.jpg"> <cite> <strong> &mdash; Florence (Energy Corp) 
              </strong></cite></p>
            </blockquote>
          </div>


          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
              <p class="author"><img src="/assets/Testimonial_5.jpg"> <cite> <strong> &mdash; Jeanette (Maroon Health) 
              </strong></cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
               <p class="author"><img src="/assets/Testimonial_9.jpg"> <cite> <strong> &mdash; Mark (Trainer)</strong></cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. &rdquo;</p>
               <p class="author"><img src="/assets/Testimonial_10.jpg"> <cite> <strong> &mdash; Viknesh (Trainer) </strong></cite></p>
            </blockquote>
          </div>
  </div>

  <!-- End of testimonials container -->

  </body>
</html>
