/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *=require_tree .
 *=require_self
 */

html, body {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
 
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Karla', sans-serif;
  padding:15px;
  flex-shrink: 0;
}

/* Links inside the navbar on the left side */
.navbar-left a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links inside the navbar on the right side */
.navbar-right a {
  float: right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* The dropdown container */
.dropdown-right {
  float: right;
  overflow: hidden;
  text-decoration:none;
  text-align: center;
}

/* Dropdown button */
.dropdown-right .dropbtn {
  font-size: 20px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content-right {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-right a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-right a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-right:hover .dropdown-content-right {
  display: block;
}

/*Footer*/

#footer {
   bottom:0;
   width:100%;
   margin-top:auto;
   flex: 0 0 200px;/*or just height:200px;*/
   background:black;

}

.footer-container {
  border-top: 1px solid grey;

}

.foot-links {
  margin-left:40%;
  padding-left: 30px;
  padding: 0;
  margin-left: 30px;
  margin-right:30px;
  display: inline-block;
  width:200px; 
  float:right;
}

#footer .footer-links li {
  padding: 2px;
  margin: 0;
  list-style: none;
}

#footer .footer-links li a {
  color: #fff;
  text-decoration: none;
}

#footer .footer-links li a:hover {
  text-decoration: blue;
}

.widget {
  margin-bottom: 30px;
  padding-left: 40px;
  text-decoration: none;
  display: inline-block;
  width:800px;
}

.widget a {
  color:#fff;
  text-decoration: none;
}

#footer .widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

#footer .widget p {
  color: #fff;
}

#footer .copyright .block {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.social-icons {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
}

.social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  color: #00CED1;
  padding-left: 10px;
  padding-right: 10px;
 
}

.social-icons li a i {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  #footer {
    text-align: left;
  }
}
